html {
    font-size: 14px;
}

@media (min-width: 800px) {
    html {
        font-size: 18px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
    font-family: 'Rock Salt', cursive;
    font-style: italic;
    background-color: #f5a849;
}

.table {
    font-family: 'Rock Salt', cursive;
    padding: 15px;
    font-style: italic;
    background-color: #e1d185;
    border: 2px dotted black;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
    height: 75%;
}
